USE_SQLITE=false
DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST/DBNAME

FIREBASE_MOCK_AUTH=false
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_JSON=

USE_MOCK_ML=false
MODEL_PATH=model/scam_classifier.pkl

USE_MOCK_URL=true
GOOGLE_SAFE_BROWSING_API_KEY=
VIRUSTOTAL_API_KEY=

DEBUG=false
CORS_ORIGINS=https://your-vercel-app.vercel.app
