fastapi
uvicorn[standard]
pydantic>=2.11
pydantic-settings>=2.7
sqlalchemy==2.0.36
alembic
psycopg2-binary
python-dotenv
firebase-admin
scikit-learn==1.5.2
pandas==2.2.3
numpy==2.0.2
nltk==3.9.4
joblib==1.5.3
httpx
python-whois
cryptography
python-multipart
aiofiles
